<div class="container mt-4">
  <h1>Documents</h1>
  <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z2">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef> Last Modified </th>
      <td mat-cell *matCellDef="let element">{{element.updated_at | date: 'dd/MM/yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-button color="primary" class="float-end" (click)="openNewDialog()">Create</button>
        <button mat-button color="primary" class="float-end me-2" (click)="openImportDialog()">Import</button>
      </th>
      <td mat-cell *matCellDef="let assignment">
        <div class="float-end">
          <div class="d-inline-block" [matTooltip]="assignment.questions.length === 1 ? '1 Question' : assignment.questions.length + ' Questions'" matTooltipPosition="above">
            <button mat-icon-button disabled *ngIf="assignment.questions.length">
              <mat-icon>check_circle_outline</mat-icon>
            </button>
          </div>
          <button mat-icon-button color="primary" matTooltip="Edit" matTooltipPosition="above" [routerLink]="'/wizard/' + assignment.uuid">
            <mat-icon>edit</mat-icon>
          </button>
          <!-- @TODO: Also check that atleast 1 facet exists -->
          <button mat-icon-button matTooltip="Run" matTooltipPosition="above" *ngIf="assignment.questions.length" [disabled]="!assignment.questions.length" [routerLink]="'/grader/' + assignment.uuid">
            <mat-icon class="green">play_arrow</mat-icon>
          </button>
          <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
            <mat-icon>list</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="d-block w-100" (click)="openDownloadDialog(assignment)">Download</button>
            <button mat-menu-item class="d-block w-100" (click)="openEditDialog(assignment)">Edit</button>
            <button mat-menu-item class="d-block w-100" (click)="openExportDialog(assignment)">Export</button>
            <button mat-menu-item color="accent" class="d-block w-100 alert" (click)="deleteItem(assignment)">Delete</button>
          </mat-menu>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
