<h1 mat-dialog-title>Import Assignment</h1>
<form [formGroup]="importAssignmentForm" (ngSubmit)="create()">
  <div mat-dialog-content>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Import Data</mat-label>
      <textarea matInput formControlName="data" rows="4" placeholder="Paste exported assignment data here"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" cdkFocusInitial>Import</button>
  </div>
</form>
