<h1 mat-dialog-title>Export Submissions</h1>
<div mat-dialog-content>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Columns to Export</mat-label>
    <mat-select [(ngModel)]="selectedCols" multiple>
      <mat-option *ngFor="let item of data.cols | keyvalue" [value]="item.key">{{format(item.value)}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
  <button mat-flat-button color="primary" cdkFocusInitial [mat-dialog-close]="selectedCols">Export</button>
</div>
