<mat-drawer-container class="h-100" fullscreen *ngIf="activeAssignment">
  <mat-drawer mode="side" opened="true" class="sidebar">
    <mat-toolbar>
      <button mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
      </button>
      <h1>Autograder</h1>
      <div class="spacer"></div>
      <button class="ms-2 me-2" mat-button (click)="questionService.addQuestion()">Add</button>
      <button class="ms-2 me-2" mat-button (click)="this.activeAssignment.questions = questionService.getQuestions(); assignmentService.update(this.activeAssignment)">Save</button>

    </mat-toolbar>
    <div class="questions">
      <div class="p-2" *ngIf="!questionService.getQuestions().length">No questions found. Begin by adding one <mat-icon>arrow_upward</mat-icon></div>
      <div class="p-1" *ngFor="let question of questionService.getQuestions(); let idx = index">
        <mat-toolbar class="bg-transparent">
          <h2>Question {{idx+1}}</h2>
          <div class="spacer bg"></div>
          <button mat-icon-button (click)="questionService.removeQuestion(question)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-toolbar>
        <mat-form-field class="d-block">
          <mat-label>Validator Type</mat-label>
          <mat-select class="mb-2" [ngModel]="question.type" (ngModelChange)="question.type = $event">
            <mat-option *ngFor="let kv of QuestionElementType | keyvalue" [value]="kv.value">{{kv.key}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="d-block">
          <mat-label>Points</mat-label>
          <input matInput [(ngModel)]="question.points">
        </mat-form-field>

        <span *ngIf="question.type === QuestionElementType.Value">
          <mat-form-field class="d-block">
            <mat-label>Target Value</mat-label>
            <input matInput [(ngModel)]="question.targetValue">
          </mat-form-field>

          <span (mouseenter)="highlightTableCell(questionService.getTargetCell(question))" (mouseleave)="clearTableCell(questionService.getTargetCell(question))">
            <mat-form-field class="d-block">
              <mat-label>Target Cell</mat-label>
              <input class="w-100 hide-disabled" matInput readonly [value]="(questionService.getTargetCell(question)?.fullAddress?.sheetName ? questionService.getTargetCell(question)?.fullAddress?.sheetName + ': ' : '') + (questionService.getTargetCell(question)?.address ?? '')">
            </mat-form-field>

            <div class="d-block">
              <button class="w-50" mat-button [disabled]="activeQuestion" (click)="this.activeQuestion = question">Select</button>
              <button class="w-50" mat-button color="accent" [disabled]="activeQuestion || !questionService.getTargetCell(question)" (click)="clearTableCell(questionService.getTargetCell(question)); question._targetCell = undefined">Clear</button>
            </div>
          </span>
        </span>

      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <h1>{{ activeAssignment.name }}</h1>
      <div class="sheet-selector ps-4">
        <button mat-button *ngFor="let item of workbookService.getSheets()" (click)="this.workbookService.setActiveSheet(item)" [ngClass]="workbookService.getActiveSheet() === item ? 'sheet-active' : ''" class="ms-1 me-1 d-inline-block">{{item.name}}</button>
      </div>
    </mat-toolbar>
    <div class="excel-table" *ngIf="workbookService.getSheetHeight()">
      <div class="column">
        <div class="cell cell-border"></div>
        <div class="cell cell-border" *ngFor="let val of range(0, workbookService.getSheetHeight())">{{val}}</div>
        <div class="cell cell-border p-0">
          <button class="w-100 h-100 miw-0" mat-button (click)="workbookService.addRow()">+</button>
        </div>
      </div>
      <div class="column" *ngFor="let col of workbookService.renderedTable">
        <div class="cell align-text-center">{{col.letter}}</div>
        <app-table-cell (click)="this.selectCell(rCell.parent)" *ngFor="let rCell of col.values" [hover]="activeQuestion !== null" [renderedCell]="rCell"></app-table-cell>
      </div>
      <div class="column">
        <div class="cell cell-border p-0">
          <button class="w-100 h-100 miw-0" mat-button (click)="workbookService.addColumn()">+</button>
        </div>
      </div>
      </div>

  </mat-drawer-content>
</mat-drawer-container>
