<mat-drawer-container class="h-100" fullscreen *ngIf="activeAssignment">
  <mat-drawer mode="side" opened="true" class="sidebar">
    <mat-toolbar>
      <button mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
      </button>
      <h1>Autograder</h1>
      <div class="spacer"></div>
      <button class="ms-2 me-2" mat-button (click)="addQuestion()">Add</button>
      <button class="ms-2 me-2" mat-button (click)="saveQuestions()">Save</button>
    </mat-toolbar>
    <div class="question">
      <div class="p-2" *ngIf="!questionService.getQuestions().length">No questions found. Begin by adding one <mat-icon>arrow_upward</mat-icon></div>

      <div class="p-1">
        <mat-toolbar class="bg-transparent" *ngIf="activeQuestion">
          <h2>Question {{questionService.getQuestions().indexOf(activeQuestion)+1}}</h2>
          <div class="spacer bg"></div>


        <button mat-button [disabled]="questionService.getQuestions().indexOf(this.activeQuestion) === 0" (click)="prevQuestion()"><</button>
        <button mat-button [disabled]="questionService.getQuestions().indexOf(this.activeQuestion) >= questionService.getQuestions().length -1"(click)="nextQuestion()">></button>
        <button mat-icon-button [matMenuTriggerFor]="questionMenu">
          <mat-icon>list</mat-icon>
        </button>

          <mat-menu #questionMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="attributes">Add Attributes</button>
            <button mat-menu-item [matMenuTriggerFor]="actions">Actions</button>
          </mat-menu>
          <mat-menu #attributes="matMenu">
            <button mat-menu-item class="d-block w-100" (click)="addFacet(activeQuestion, FacetType.FunctionChainFacet)">
              FunctionChainFacet
            </button>
            <button mat-menu-item class="d-block w-100" (click)="addFacet(activeQuestion, FacetType.FunctionContainsFacet)">
              FunctionContainsFacet
            </button>
            <button mat-menu-item class="d-block w-100" (click)="addFacet(activeQuestion, FacetType.FunctionListFacet)">
              FunctionListFacet
            </button>
            <button mat-menu-item class="d-block w-100" (click)="addFacet(activeQuestion, FacetType.ValueFacet)">
              ValueFacet
            </button>
          </mat-menu>

          <mat-menu #actions="matMenu">
            <button mat-menu-item (click)="deleteActiveQuestion()">
              Delete
            </button>
          </mat-menu>

        </mat-toolbar>
        <div class="facet" *ngIf="activeQuestion && !activeQuestion.facets.length">Begin by adding an attribute!</div>
        <ng-container #facetContainer></ng-container>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <h1>{{ activeAssignment.name }}</h1>
      <div class="sheet-selector ps-4">
        <button mat-button *ngFor="let item of workbookService.getSheets()" (click)="this.workbookService.setActiveSheet(item)" [ngClass]="workbookService.getActiveSheet() === item ? 'sheet-active' : ''" class="ms-1 me-1 d-inline-block">{{item.name}}</button>
      </div>
    </mat-toolbar>
    <div class="excel-table" *ngIf="workbookService.getSheetHeight()">
      <div class="column">
        <div class="cell cell-border"></div>
        <div class="cell cell-border" *ngFor="let val of range(0, workbookService.getSheetHeight())">{{val}}</div>
        <div class="cell cell-border p-0">
          <button class="w-100 h-100 miw-0" mat-button (click)="workbookService.addRow()">+</button>
        </div>
      </div>
      <div class="column" *ngFor="let col of workbookService.activeWorkbook?.renderedTable">
        <div class="cell align-text-center">{{col.letter}}</div>
        <app-table-cell *ngFor="let rCell of col.values" [renderedCell]="rCell"></app-table-cell>
      </div>
      <div class="column">
        <div class="cell cell-border p-0">
          <button class="w-100 h-100 miw-0" mat-button (click)="workbookService.addColumn()">+</button>
        </div>
      </div>
      </div>

  </mat-drawer-content>
</mat-drawer-container>
