input[type="file"]{
  display:none;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2em;
}

.dropzone {
  height: 200px;
  display: table;
  width: 100%;
}

.button {
  padding:10px;
  cursor: pointer;
  border-radius:5px;
}

.button:hover {
  background-color: var(--mat-menu-item-hover-state-layer-color);
}

.am-active {
  font-weight: 550;
  color: #3f51b5;
}

.red {
  color: #F44336;
}
