<mat-drawer-container class="h-100" fullscreen *ngIf="activeAssignment">
  <mat-drawer mode="side" opened="true" class="sidebar" style="width:400px !important" class="sidebar">
    <mat-toolbar>
      <button mat-icon-button routerLink="/" matTooltip="Home" matTooltipPosition="above">
        <mat-icon>home</mat-icon>
      </button>
      <h1 class="ps-2">Problems </h1>
      <div class="spacer"></div>
      <button class="ms-2 me-2" mat-button (click)="addQuestion()">Add</button>
      <button class="ms-2 me-2" mat-button [routerLink]="'/grader/' + activeAssignment.uuid">Run</button>
    </mat-toolbar>
    <div class="empty-state empty-state-problems" *ngIf="!activeAssignment.getQuestions().length">
      <div class="empty-state-icon">
        <mat-icon>assignment</mat-icon>
      </div>
      <h3 class="empty-state-title">No problems yet</h3>
      <p class="empty-state-description">
        Add problems to define what cells should be graded in student submissions.
      </p>
      <button mat-flat-button color="primary" class="empty-state-action" (click)="addQuestion()">
        <mat-icon>add</mat-icon>
        Add First Problem
      </button>
    </div>
    <mat-toolbar class="ps-2 question-toolbar" *ngIf="activeQuestion">
      <button mat-icon-button (click)="questionListShown = !questionListShown">
         <mat-icon>list</mat-icon>
       </button>
      <h2 class="ms-2 problems-title" *ngIf="questionListShown">Problems</h2>
      <h2 class="ms-2 question-name" *ngIf="!questionListShown && !editingQuestionName" (click)="startEditingQuestionName()">
        {{ getQuestionDisplayName(activeQuestion, activeAssignment.getQuestions().indexOf(activeQuestion)) }}
        <mat-icon class="edit-icon">edit</mat-icon>
      </h2>
      <input
        *ngIf="!questionListShown && editingQuestionName"
        #questionNameInput
        class="question-name-input ms-2"
        [(ngModel)]="editingQuestionNameValue"
        (blur)="saveQuestionName()"
        (keyup.enter)="saveQuestionName()"
        (keyup.escape)="cancelEditingQuestionName()"
        placeholder="Problem {{ activeAssignment.getQuestions().indexOf(activeQuestion) + 1 }}"
      />
      <div class="spacer bg"></div>
      <button mat-button *ngIf="!questionListShown" [disabled]="activeAssignment.getQuestions().indexOf(activeQuestion) === 0" (click)="prevQuestion()"><</button>
      <button mat-button *ngIf="!questionListShown" [disabled]="activeAssignment.getQuestions().indexOf(activeQuestion) >= activeAssignment.getQuestions().length -1" (click)="nextQuestion()">></button>
      <button mat-icon-button matTooltip="Delete" matTooltipPosition="above" *ngIf="!questionListShown" (click)="deleteActiveQuestion()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-toolbar>
    <div class="question">
      <div class="ps-3 pe-3">
        <div 
          class="question-list"
          cdkDropList
          (cdkDropListDropped)="onQuestionDrop($event)"
          *ngIf="questionListShown">
          <div 
            class="question-list-item"
            *ngFor="let question of activeAssignment.getQuestions(); let i = index"
            cdkDrag
            [ngClass]="{'question-list-item-active': activeQuestion === question}"
            (click)="setActiveQuestion(question)">
            <div class="question-drag-handle" cdkDragHandle>
              <mat-icon>drag_indicator</mat-icon>
            </div>
            <div class="question-list-item-content">
              <span class="question-list-item-number">{{ i + 1 }}</span>
              <span class="question-list-item-title">{{ getQuestionDisplayName(question, i) }}</span>
            </div>
            <mat-icon 
              *ngIf="hasInvalidFacets(question)" 
              class="question-warning-icon" 
              matTooltip="This problem has misconfigured grading rules" 
              matTooltipPosition="above">warning</mat-icon>
            <mat-icon class="question-list-item-chevron">chevron_right</mat-icon>
          </div>
        </div>
        <div class="facet-area" [class.hidden]="questionListShown" [class.fading]="facetAreaFading">
          <div class="empty-state" *ngIf="activeQuestion && !activeQuestion.facets.length">
            <div class="empty-state-icon">
              <mat-icon>touch_app</mat-icon>
            </div>
            <h3 class="empty-state-title">No grading rules yet</h3>
            <p class="empty-state-description">
              Click on any cell in the spreadsheet to create a grading rule for that cell's value or formula.
            </p>
            <div class="empty-state-hint">
              <mat-icon>arrow_forward</mat-icon>
              <span>Select a cell to get started</span>
            </div>
          </div>
          <div
            cdkDropList
            class="facet-drop-list"
            (cdkDropListDropped)="onFacetDrop($event)"
            *ngIf="activeQuestion && activeQuestion.facets.length">
            <div
              *ngFor="let facet of activeQuestion.facets; let i = index"
              cdkDrag
              class="facet-drag-item">
              <app-facet-item
                [question]="activeQuestion"
                [facet]="facet"
                [workbookService]="workbookService"
                (facetDeleted)="onFacetDeleted()"
                (valueChanged)="saveQuestions()">
              </app-facet-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <h1>{{ activeAssignment.name }}</h1>
      <div class="sheet-selector ps-4">
        <button mat-button class="ms-1 me-1 d-inline-block" *ngFor="let item of workbookService.getSheets()" (click)="this.workbookService.setActiveSheet(item)" [ngClass]="workbookService.getActiveSheet() === item ? 'sheet-active' : ''">{{item.name}}</button>
      </div>
      <div class="spacer"></div>
    </mat-toolbar>
    <div class="excel-table-parent">
      <div class="excel-table" *ngIf="workbookService.getSheetHeight()">
        <div class="excel-row sticky-top" style="height: 30px">
          <div class="cell cell-border cell-border-top"></div>
          <div class="cell cell-border cell-border-top" *ngFor="let val of range(0, workbookService.getRenderedSheetWidth())" [ngStyle]="{'min-width': (workbookService.getColumn(val+1)?.width ?? 8) * 7.5 + 'px' }">
            {{workbookService.getColumn(val+1)?.letter}}</div>
        </div>
          <app-table-row class="excel-row" *ngFor="let row of workbookService.activeWorkbook?.renderedTable; let i = index" (addFacetEmitter)="addFacetComponent($event)" [activeQuestion]="activeQuestion" [ngStyle]="{ height: row.height + 'px' }" [row]="row" [index]="i"></app-table-row>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
