<mat-drawer-container class="h-100" fullscreen *ngIf="activeAssignment">
  <mat-drawer mode="side" opened="true" class="sidebar" style="width:400px !important" class="sidebar">
    <mat-toolbar>
      <button mat-icon-button routerLink="/" matTooltip="Home" matTooltipPosition="above">
        <mat-icon>home</mat-icon>
      </button>
      <h1 class="ps-2">Problems </h1>
      <div class="spacer"></div>
      <button class="ms-2 me-2" mat-button (click)="addQuestion()">Add</button>
      <button class="ms-2 me-2" mat-button [routerLink]="'/grader/' + activeAssignment.uuid">Run</button>
    </mat-toolbar>
    <div class="question">
      <div class="ps-3 pe-3 facet w-100 align-text-center mt-3" *ngIf="!questionService.getQuestions().length">No problems found. Begin by adding one!</div>
      <div class="p-1">
        <mat-toolbar class="bg-transparent" *ngIf="activeQuestion">
          <h2>Problem {{questionService.getQuestions().indexOf(activeQuestion)+1}}</h2>
          <div class="spacer bg"></div>
          <button mat-button [disabled]="questionService.getQuestions().indexOf(this.activeQuestion) === 0" (click)="prevQuestion()"><</button>
          <button mat-button [disabled]="questionService.getQuestions().indexOf(this.activeQuestion) >= questionService.getQuestions().length -1" (click)="nextQuestion()">></button>
          <button mat-icon-button matTooltip="Delete" matTooltipPosition="above" (click)="deleteActiveQuestion()">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-toolbar>
        <mat-divider class="ms-3 me-3 pb-2 pt-1" *ngIf="questionService.getQuestions().length"></mat-divider>
        <div class="ps-3 pe-3">
          <div class="facet w-100 align-text-center mt-2" *ngIf="activeQuestion && !activeQuestion.facets.length">Begin by clicking on a cell!</div>
          <ng-container #facetContainer></ng-container>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <h1>{{ activeAssignment.name }}</h1>
      <div class="sheet-selector ps-4">
        <button mat-button class="ms-1 me-1 d-inline-block" *ngFor="let item of workbookService.getSheets()" (click)="this.workbookService.setActiveSheet(item)" [ngClass]="workbookService.getActiveSheet() === item ? 'sheet-active' : ''">{{item.name}}</button>
      </div>
      <div class="spacer"></div>
    </mat-toolbar>
    <div class="excel-table-parent">
      <div class="excel-table" *ngIf="workbookService.getSheetHeight()">
        <div class="excel-row sticky-top" style="height: 30px">
          <div class="cell cell-border"></div>
          <div class="cell cell-border" *ngFor="let val of range(0, workbookService.getRenderedSheetWidth())" [ngStyle]="{'min-width': (workbookService.getColumn(val+1)?.width ?? 8) * 7.5 + 'px' }">
            {{workbookService.getColumn(val+1)?.letter}}</div>
        </div>
        <div class="excel-row" *ngFor="let row of workbookService.activeWorkbook?.renderedTable; let i = index" [ngStyle]="{ height: row.rowHeight + 'px' }">
          <div class="cell align-text-center cell-border" style="height: 100%">{{ i+1 }}</div>
          <span *ngFor="let rCell of row.values">
            <app-table-cell  *ngIf="rCell.width >= 0" [matMenuTriggerFor]="activeQuestion && !workbookService.isRenderedCellEmitterSubscribed() ? menu : null" [renderedCell]="rCell" [hover]="workbookService.isRenderedCellEmitterSubscribed()"></app-table-cell>
            <mat-menu #menu="matMenu">
              <button *ngIf="activeQuestion" mat-menu-item class="d-block w-100" (click)="addFacetComponent(activeQuestion.createFacet({type: FacetType.ValueFacet, points: 1, targetCell: rCell.parent.fullAddress}))">
                Value Equals
              </button>
              <button *ngIf="activeQuestion" mat-menu-item class="d-block w-100" (click)="addFacetComponent(activeQuestion.createFacet({type: FacetType.ValueRangeFacet, points: 1, targetCell: rCell.parent.fullAddress}))">
                Value Range
              </button>
              <button *ngIf="activeQuestion" mat-menu-item class="d-block w-100" (click)="addFacetComponent(activeQuestion.createFacet({type: FacetType.FormulaContainsFacet, points: 1, targetCell: rCell.parent.fullAddress}))">
                Formula Contains
              </button>
              <button *ngIf="activeQuestion" mat-menu-item class="d-block w-100" (click)="addFacetComponent(activeQuestion.createFacet({type: FacetType.FormulaRegexFacet, points: 1, targetCell: rCell.parent.fullAddress}))">
                Formula Regex
              </button>
              <button *ngIf="activeQuestion" mat-menu-item class="d-block w-100" (click)="addFacetComponent(activeQuestion.createFacet({type: FacetType.FormulaListFacet, points: 1, targetCell: rCell.parent.fullAddress}))">
                Formula List
              </button>
  <!--            <button *ngIf="activeQuestion" mat-menu-item class="d-block w-100" (click)="addFacetComponent(activeQuestion.createFacet({type: FacetType.FormulaGraphFacet, points: 0, targetCell: rCell.parent.fullAddress}))">-->
  <!--              Formula Graph-->
  <!--            </button>-->
            </mat-menu>
          </span>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
