<div class="facet-item-header d-flex pt-2">
  <div class="drag-handle" cdkDragHandle>
    <mat-icon>drag_indicator</mat-icon>
  </div>
  <h2 class="facet-title facet-name-editable" *ngIf="!editingName" (click)="startEditingName()" (keydown.enter)="startEditingName()" tabindex="0" role="button">
    {{facet.getName()}}
    <mat-icon class="edit-icon">edit</mat-icon>
  </h2>
  <input
    *ngIf="editingName"
    #facetNameInput
    class="facet-name-input"
    [(ngModel)]="editingNameValue"
    (blur)="saveName()"
    (keyup.enter)="saveName()"
    (keyup.escape)="cancelEditingName()"
    [placeholder]="facet.getDefaultName()"
  />
  <div class="spacer"></div>
  <mat-icon 
    *ngIf="!facet.isValid()" 
    class="validation-warning-icon" 
    matTooltip="This attribute is missing required configuration" 
    matTooltipPosition="above">
    warning
  </mat-icon>
  <button mat-icon-button [matMenuTriggerFor]="facetMenu" class="facet-menu-button">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #facetMenu="matMenu">
    <button mat-menu-item (click)="remove()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
</div>
<div class="facet-content-wrapper">
  <ng-container #facetContent></ng-container>
</div>

