
<h1 mat-dialog-title>New Assignment</h1>
<form [formGroup]="newAssignmentForm" (ngSubmit)="create()">
  <div mat-dialog-content>
    <p>Name</p>
      <input formControlName="name">
    <p>File</p>
      <input type="file" #file (change)="filePicked($event)"/>
    <p *ngIf="newAssignmentForm.value.encrypted">File Password</p>
  </div>
  <div mat-dialog-actions class="container">
    <button mat-button color="primary" type="submit" cdkFocusInitial>Ok</button>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
  </div>
</form>
