<div #cell class="cell" [ngClass]="{'cell-active': renderedCell.isHighlighted}" [ngStyle]="{
  'background': renderedCell.fill,
  'border-color': renderedCell.isHighlighted ? renderedCell.isHighlightedColor.border : '',
  'color': renderedCell.isHighlighted ? renderedCell.isHighlightedColor.color : '',
  'position': renderedCell.isHighlighted ? 'relative' : 'inherit',
  'border-radius': renderedCell.isHighlighted ? '2px' : '',
  'height': renderedCell.height + 'px',
  'width': renderedCell.width + 'px',
  'text-align': renderedCell.align,
}">{{renderedCell.safeValue}}</div>
<div class="cell hover" [ngClass]="{'cell-active-hover': hover}" [ngStyle]="{
  'background': renderedCell.isHighlighted ? renderedCell.isHighlightedColor.background : '',
  'height': renderedCell.height + 'px',
  'width': renderedCell.width + 'px',
  'margin-top': '-' + renderedCell.height + 'px',
  'margin-left': '-' + renderedCell.width + 'px',
}" [matTooltip]="getTooltip()" matTooltipPosition="above" (click)="workbookService.emitRenderedCell(renderedCell)"></div>
