<div #cell class="cell" [ngClass]="{'cell-active': renderedCell.isHighlighted}" [ngStyle]="{
  'background': renderedCell.fill,
  'border-color': renderedCell.isHighlighted ? renderedCell.isHighlightedColor.border : '',
  'color': renderedCell.isHighlighted ? renderedCell.isHighlightedColor.color : '',
  'position': renderedCell.isHighlighted ? 'relative' : 'inherit',
  'border-radius': renderedCell.isHighlighted ? '2px' : ''
}">{{renderedCell.safeValue}}</div>
<div class="hover" [ngClass]="{'cell-active-hover': hover}" [ngStyle]="{
  'background': renderedCell.isHighlighted ? renderedCell.isHighlightedColor.background : '',
}" [matTooltip]="getTooltip()" matTooltipPosition="above" (click)="workbookService.emitRenderedCell(renderedCell)"></div>
