<h1 mat-dialog-title>Edit Assignment</h1>
<form [formGroup]="assignmentForm" (ngSubmit)="update()">
  <div mat-dialog-content>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Assignment name">
    </mat-form-field>
    
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Answer Key File</mat-label>
      <app-file-input 
        formControlName="file" 
        accept=".xlsx,.xls"
        placeholder="Click or drop Excel file here">
      </app-file-input>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline" *ngIf="assignmentForm.value.encrypted">
      <mat-label>File Password</mat-label>
      <input matInput formControlName="key" type="password" placeholder="Enter password">
    </mat-form-field>
  </div>
  
  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="!assignmentForm.valid" cdkFocusInitial>Save</button>
  </div>
</form>
