<div class="pt-2 pb-3">
  <div class="d-flex">
    <mat-form-field class="d-block">
      <mat-label>Points</mat-label>
      <input matInput type="number" (change)="valueChange.emit(facet)" [(ngModel)]="facet.points" [disabled]="workbookService.isRenderedCellEmitterSubscribed()">
    </mat-form-field>
    <div class="px-2"></div>
    <span (mouseenter)="highlightTableCell(facet.getTargetCell())" (mouseleave)="clearTableCell(facet.getTargetCell())">
      <mat-form-field class="d-block">
        <mat-label>Target Cell</mat-label>
        <input class="w-100 hide-disabled" matInput readonly [disabled]="workbookService.isRenderedCellEmitterSubscribed()" (click)="grabCell()" [value]="(facet.getTargetCell()?.fullAddress?.sheetName ? facet.getTargetCell()?.fullAddress?.sheetName + ': ' : '') + (facet.getTargetCell()?.address ?? '')">
      </mat-form-field>
    </span>
  </div>
  <mat-form-field class="d-block">
    <mat-label>Target Value</mat-label>
    <input matInput (change)="valueChange.emit(facet)" [(ngModel)]="facet.value" [disabled]="workbookService.isRenderedCellEmitterSubscribed()">
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-select (selectionChange)="valueChange.emit(facet)" [(ngModel)]="facet.review" placeholder="Flag for Review">
      <mat-option [value]="QuestionFlag.None">Do not flag answers</mat-option>
      <mat-option [value]="QuestionFlag.Incorrect">Flag incorrect answers</mat-option>
      <mat-option [value]="QuestionFlag.Correct">Flag correct answers</mat-option>
      <mat-option [value]="QuestionFlag.Always">Flag all answers</mat-option>
    </mat-select>
  </mat-form-field>
</div>
