<h1 mat-dialog-title>New Assignment</h1>
<div mat-dialog-content>
  <p>Name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="newAssignment.name">
  </mat-form-field>
  <p>File</p>
  <mat-form-field>
    <ngx-mat-file-input [(ngModel)]="newAssignment.file" accept="['xlsx']"></ngx-mat-file-input>

  </mat-form-field>
    <mat-checkbox class="d-inline-block" [(ngModel)]="newAssignment.encrypted">Encrypted?</mat-checkbox>
  <p *ngIf="newAssignment.encrypted">File Password</p>
  <mat-form-field *ngIf="newAssignment.encrypted">
    <input matInput [(ngModel)]="newAssignment._key">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button (click)="data.emit(this.newAssignment); dialogRef.close()" cdkFocusInitial>Ok</button>
</div>
