
<h1 mat-dialog-title>New Assignment</h1>
<form [formGroup]="newAssignmentForm" (ngSubmit)="create()">
  <div mat-dialog-content>
    <p>Name</p>
    <mat-form-field>
      <input matInput formControlName="name">
    </mat-form-field>
    <p>File</p>
    <mat-form-field>
      <ngx-mat-file-input formControlName="file" [accept]="'.xlsx'"></ngx-mat-file-input>

    </mat-form-field>
      <mat-checkbox class="d-inline-block" formControlName="encrypted">Encrypted?</mat-checkbox>
    <p *ngIf="newAssignmentForm.value.encrypted">File Password</p>
    <mat-form-field *ngIf="newAssignmentForm.value.encrypted">
      <input matInput formControlName="key">
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="container">
    <button mat-button type="submit" cdkFocusInitial>Ok</button>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
  </div>
</form>
